.app {
  background-color: var(--background);
}

.navbar {
  width: 100%;
  padding: 16px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: var(--background);
  }

  .navbar-controls {
    display: flex;
    gap: 16px;
  }
}

main {
  max-width: 768px;
  margin: 32px auto;

  .search-container {
    text-align: center;
    margin-bottom: 32px;

    span {
      color: var(--primary);
    }

    input {
      width: 75%;
      height: 32px;
      padding: 16px;
      margin-top: 16px;
    }
  }

  .books-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    .book-card {
      transition: all 0.25s;
      cursor: pointer;
      height: max-content;

      img {
        width: 100%;
        object-fit: cover;
      }

      .book-content {
      }
    }

    .book-card:hover {
      opacity: 0.9;
      scale: 1.1;
    }
  }
}

.dashboard {
  header {
    margin: 16px;
  }

  .data-container {
    width: 75vw;
    height: 75vh;
    margin: auto;
    display: flex;
    gap: 16px;
    margin-top: 32px;
    overflow: hidden;

    .buku-container,
    .users-container {
      border: 1px solid black;
      border-radius: 8px;
      overflow-x: hidden;
      position: relative;

      .add-buku-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
        background-color: var(--secondary);
        padding: 8px 16px;
        color: var(--background);
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      .add-buku-button:hover {
        scale: 1.1;
      }
    }

    .buku-container,
    .users-container {
      height: 100%;
      width: 100%;

      .buku-header,
      .users-header {
        background-color: var(--primary);
        width: 100%;
        padding: 16px;

        h3 {
          color: var(--background);
        }
      }

      .buku-data,
      .users-data {
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  .dashboard-buku {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dashboard-buku-controls {
      display: flex;
      gap: 12px;
      button {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        img {
          height: 50%;
          width: 50%;
        }
      }

      button:nth-of-type(1) {
        background-color: var(--success);
      }

      button:nth-of-type(2) {
        background-color: var(--error);
      }

      button:hover {
        scale: 1.1;
      }
    }
  }
}

.buku-popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .buku-popup-background {
    background-color: var(--text);
    opacity: 0.5;
    z-index: 1;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .buku-popup-content {
    width: 50%;
    padding-bottom: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    z-index: 2;

    .buku-popup-header {
      background-color: var(--primary);
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        color: var(--background);
      }

      button {
        height: 32px;
        width: 32px;
        background-color: var(--error);
        border: none;
        cursor: pointer;
      }
    }

    section {
      padding: 16px;

      .add-popup {
        display: flex;
        flex-direction: column;
        gap: 16px;

        input {
          width: 100%;
          padding: 8px 16px;
          border: 2px solid var(--primary);
        }

        button {
          position: absolute;
          bottom: 16px;
          right: 16px;
          background-color: var(--secondary);
          padding: 8px 16px;
          color: var(--background);
          font-weight: bold;
          border: none;
          cursor: pointer;
        }

        button:hover {
          scale: 1.1;
        }
      }
    }
  }
}
